<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pressurefork.spotlesswear">
    <application
        android:label="Spotless Wear"
        android:icon="@drawable/logo"
        android:theme="@style/Theme.SpotlessWear">
        <activity android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>
</manifest>